.dropdown {
  margin-top: 5px;
  width: 100%;
  min-width: 258px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #f8f8f8;
  font-size: 14px;
  position: relative;
  align-self: flex-start;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  color: #292929;
}

.dropdown-header {
  padding: 4px 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-overflow: ellipsis;
}

.dropdown-body {
  margin-top: 10px;
  padding: 5px;
  border-top: 1px solid #e5e8ec;
  display: none;
  z-index: 10;
}

.dropdown-body.open {
  display: block;
  position: relative;
  z-index: 3;
}

.dropdown-item {
  padding: 10px;
}

.dropdown-item:hover {
  cursor: pointer;
  background-color: #d4d4d4;
}

.dropdown-item-dot {
  opacity: 0;
  color: #91a5be;
  transition: all 0.2s ease-in-out;
}

.dropdown-item-dot.selected {
  opacity: 1;
}

.icon {
  font-size: 13px;
  color: #91a5be;
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}

.icon.open {
  transform: rotate(90deg);
}

.buildings-dropdown {
  z-index: 10;
}

.offices-dropdown {
  z-index: 0;
}
